@font-face {
    font-family: 'Source Code Pro';
    src: url('./assets/fonts/font-face-folder/SourceCodePro-Light.woff2') format('woff2'),
        url('./assets/fonts/font-face-folder/SourceCodePro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.page-container {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
}

.image-container {
    border: 2px solid green;
}

.form-container {
    border: 2px solid orange;
}