@font-face {
    font-family: 'Source Code Pro';
    src: url('./assets/fonts/font-face-folder/SourceCodePro-Light.woff2') format('woff2'),
        url('./assets/fonts/font-face-folder/SourceCodePro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: row;
}

.image-container {
    /* border: 2px solid green; */
    position: relative;
    background-color: #385075;
    background-image: url(assets/computerized-neuron.jpg);
    background-size: cover;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Source Code Pro', system-ui, 'Courier New', Courier, monospace;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20rem;
}

.title-container {
    width: 100%;
    background: linear-gradient(90deg, rgba(138, 137, 204, 0.8) 0%,rgba(56, 80, 117, 0.8) 100%);
}

.service-title {
    color: #fff;
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
}

.img-credit {
    color:#fff;
}

.img-credit a {
    color: #8a89cc;
}

.form-container {
    flex-basis: 70%;
    font-family: 'Source Code Pro', system-ui, 'Courier New', Courier, monospace;
    padding: 20px;
}

.form-title {
    font-size: 2.2rem;
}

.form-title span {
    color: rgb(138, 137, 204);
}

.form-disclaimer {
    font-size: 0.5rem;
}

form fieldset {
    border: 2px solid rgb(56, 80, 117);
    border-radius: 5px;
    margin: 10px;
}

form ul {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}

form li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

form li > label {
    font-weight: bold;
    margin-bottom: 8px;
}

form li > input {
    font-family: 'Source Code Pro', system-ui, 'Courier New', Courier, monospace;
    height: 1.8rem;
    padding: 5px;
    border-top:2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid rgb(138, 137, 204);
    border-radius: 3px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(58, 153, 236);
    box-shadow: 2px 2px 2px grey;
}

input[type="password"]:invalid {
    border: 2px solid #E0503D;
}
input[type="password"]:valid {
    border: 2px solid #61AD23;
}
input[type="password"]:focus {
    outline: none;
    border: 2px solid rgb(58, 153, 236);
}

.btn-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container button {
    width: 150px;
    height: 50px;
    font-family: 'Source Code Pro', system-ui, 'Courier New', Courier, monospace;
    color: #fff;
    background: linear-gradient(90deg, rgba(138, 137, 204, 0.8) 0%,rgba(56, 80, 117, 0.8) 100%);
    border: none;
    border-radius: 5px;
}

.btn-container button:hover{
    background: linear-gradient(90deg, rgb(138, 137, 204) 0%,rgb(56, 80, 117) 100%);
    box-shadow: 2px 3px 4px grey;
}

.btn-container .fake-login {
    color: rgb(138, 137, 204);
}