@font-face {
    font-family: 'Source Code Pro';
    src: url('./assets/fonts/font-face-folder/SourceCodePro-Light.woff2') format('woff2'),
        url('./assets/fonts/font-face-folder/SourceCodePro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.page-container {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
}

.image-container {
    border: 2px solid green;
}

.image-container img {
    max-width: 30rem;
}

.title-container {
    position: absolute;
    top: calc(50% + 3rem);
    width: 30rem;
    text-align: center;
    letter-spacing: 1.2rem;
    background: linear-gradient(90deg, rgba(66, 190, 245, 0.6) 0%,rgba(56, 80, 117, 0.6) 100%);
}

.service-title {
    color: #fff;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    font-size: 2.5rem;
}

.img-credit {
    border: 2px solid pink;
    
}

.form-container {
    border: 2px solid orange;
}